body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    padding-top: 50px;
    background-color: #f4f7f6;
}

.search-container {
    width: 300px;
}

#search-bar {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    outline: none;
}

#search-bar:focus {
    border-color: #007BFF;
}

#item-list {
    list-style: none;
    padding: 0;
    margin-top: 10px;
}

.searchable-item {
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    margin-bottom: 5px;
    border-radius: 3px;
}
